
* {
    margin-top: 0px;
    margin-left: 0px;
 }

 body {
    background-color: rgb(221, 216, 216);
    color:#333;
    font-family: 'Cinzel', serif;
    font-size: medium;
     
 }

 .container2 {
    max-width: 850px;
    width: 85%;
    margin: 0 auto;
}

 
 /**************************** Acá empieza el header **********************************/
 .container {
    width: 95%;
    margin: 0 auto;
}
 .header {
     padding: 2rem 0;
     background-color: black;
     color:rgb(221, 216, 216);
     width: 100%;
     
    
 }

 .header a {
    text-decoration: none;
    color:rgb(221, 216, 216);
 }

 .header-navigation {
     display: flex;
     justify-content: space-between;
     align-items: center;  
     
 }

 .navigation ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .navigation ul li{
     display: inline-block; 
 } 

 .navigation ul li a {
     display: block;
     padding: 0.5rem 1rem;
     transition: all 0.8 linear;
     border-radius: 4px;
 }
 
 .navigation ul li a:hover {
     background: rgb(61, 60, 60) ;
 }

 /**************************** Acá empieza el BODY **********************************/

 #titulo {
     text-align: center;
 }

 #footer{
     background-color: black;
     width: 100%;
     padding: 2 rem 0;
     color: rgb(221, 216, 216);
     text-align: center;
 }
 