
* {
    margin-top: 0px;
    margin-left: 0px;
 }

 body {
    background-color: rgb(221, 216, 216);
    color:#333;
    font-family: 'Cinzel', serif;
    font-size: medium;
     
 }

 .container {
     max-width: 850px;
     width: 85%;
     margin: 0 auto;
   
 }

 .header {
     background-color: black;
     color:rgb(221, 216, 216)
 }